
/* CONNECT LIBRARIES */
@import 'libs/bootstrap-grid';
@import 'libs/bootstrap-reboot';

/* CONNECT FONTFACE */
@import 'base/fontface';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

h1,h2,h3,h4,h5,h6,p,ol,ul {
    margin: 0;
    padding: 0;
}