/* CONNECT LIBRARIES */
@import 'libs/bootstrap-grid';
@import 'libs/bootstrap-reboot';
@import 'libs/animate';

/* CONNECT FONTFACE */
@import 'base/fontface';

/*CONNECT MIXINS AND VARIABLES*/
@import 'base/mixins';
@import 'base/variables';
@import 'base/title';
@import 'base/arrow-up';

/*GENERAL RESET STYLES AND CONNECT FONT FAMILY*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
h1,h2,h3,h4,h5,h6,p,ol,ul {
    margin: 0;
    padding: 0;
}

/*BLOCKS*/
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/services';
@import 'blocks/work';
@import 'blocks/steps';
@import 'blocks/house';
@import 'blocks/about';
@import 'blocks/questions';
@import 'blocks/background';
@import 'blocks/footer';
@import 'blocks/modals';

form {
    label.error {
        color: red;
        font-size: 16px;
        text-align: center;
        margin-bottom: 35px;
    }
}

@import 'base/media';