.about {
    padding: 60px 0 0 0;
    .section_subtitle {
        margin-bottom: 45px;
    }
    &__part1 {
        &__title{
            font-weight: 400;
            font-size: 17px;
            max-width: 490px;
            margin-bottom: 30px;
        }
    }
    &__wrapper {
        display: flex;
    }
    &-grid {
        display: grid;
        grid-template: repeat(2, 160px) / repeat(2, 290px);
        gap: 45px 50px;
        &__item {
            &top {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                .circle {
                    @include GreenCircle;
                    margin-right: 15px;
                }
                &title {
                    font-weight: 700;
                    font-size: 24px;
                    text-transform: uppercase;
                }
            }
            &bottom {
                p {
                    font-weight: 400;
                font-size: 17px;
                }
            }  
        }
    }
    &__part2 {
        align-self: center;
        img {
            width: 100%;
        }
    }
    &-counting {
        display: flex;
        margin-top: 170px;
        padding-bottom: 120px;
        border-bottom: 1px solid black;
        &__item {
            text-align: center;
            span {
                display: block;
                font-weight: 900;
                font-size: 36px;
                color: #90D31C;
                margin-bottom: 10px;
            }
            p {
                font-weight: 500;
                font-size: 24px;
            }
        }
    }
}