.footer {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 80px;
    background-color: #1B2743;
    align-items: center;
    .stepstudioWeb {
        text-decoration: none;
        color: #fff;
    }
}