.header {
    height: 80px;
    background-color: var(--header-background);
    .container {
        height: 100%;
    }
    .row {
        height: 100%;
    }
    &__navigation {
        nav {
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 15px;
                    color: var(--navigation-textcolor);
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__phone {
        a {
            text-decoration: none;
            // padding: 5px 5px;
            width: 215px;
            height: 43px;
            font-weight: 700;
            font-size: 24px;
            color: var(--navigation-textcolor);
            background-color: var(--buttons-color);
            transition: 300ms all linear;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: #fff;
                color: var(--buttons-color);
            }
        }
    }
}