.header {
    height: 80px;
    background-color: var(--header-background);
    .container {
        height: 100%;
    }
    .row {
        height: 100%;
    }
    &__navigation {
        nav {
            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 15px;
                    color: var(--navigation-textcolor);
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__phone {
        a {
            text-decoration: none;
            // padding: 5px 5px;
            width: 215px;
            height: 43px;
            font-weight: 700;
            font-size: 24px;
            color: var(--navigation-textcolor);
            background-color: var(--buttons-color);
            transition: 300ms all linear;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: #fff;
                color: var(--buttons-color);
            }
        }
    }
}

.header_mobile {
    display: none;
    justify-content: space-between;
    height: 60px;
    background-color: #1B2743;
    align-items: center;
    padding: 0 15px;
    &__phone {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: #fff;
        background-color: #90D31C;
        font-weight: 700;
        font-size: 14px;
    }
}

.hamburger {
    cursor: pointer;
    width: 32px;
    span {
        display: block;
        background-color: #fff;
        width: 32px;
        height: 1px;
        margin-bottom: 8px;
    }
    span:nth-child(3) {
        margin-bottom: 0;
    }
}

.header-mobile__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
    z-index: 500;
    overflow-y: hidden;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms all ease;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        li {
            margin-bottom: 35px;
        }
        a {
            text-decoration: underline;
            color: #90D31C;
            font-weight: 700;
            font-size: 24px; 
        }
    }
    &__close {
        font-size: 65px;
        line-height: 30px;
        color: #90D31C;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    &_active {
        top: 0;
    }
}